<div class="container m-t-15">
    <div class="row">
        <div class="col-md-4">
            <div class="box cust_box">
                <div class="box-title m-b-0" [style.border-bottom]="'1px solid #eee' ">
                    <div class="box-caption display-block w100p bcEllipsis text-center">
                        <span>Test</span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group m0" style="cursor: default">
                        <div class="text-center">test test</div>
                    </div>
                    <div class="row">
                        <div class="ScoreCard col-md-8" style="cursor:pointer">
                            <h1 [class]="'text-center txt-themeRed'">
                                7
                                <small class="txt-themeOrg"> / 10</small>
                            </h1>
                        </div>
                        <div class="col-md-4">
                            <span class="ScoreCard_Icon txt-green fa fa-arrow-circle-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box cust_box">
                <div class="box-title m-b-0" [style.border-bottom]="'1px solid #eee' ">
                    <div class="box-caption display-block w100p bcEllipsis text-center">
                        <span>Test</span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group m0" style="cursor: default">
                        <div class="text-center">test test</div>
                    </div>
                    <div class="row">
                        <div class="ScoreCard col-md-8" style="cursor:pointer">
                            <h1 [class]="'text-center txt-themeRed'">
                                10
                                <small class="txt-themeOrg"> / 10</small>
                            </h1>
                        </div>
                        <div class="col-md-4">
                            <span class="ScoreCard_Icon txt-themeOrg fa fa-minus-circle"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box cust_box">
                <div class="box-title m-b-0" [style.border-bottom]="'1px solid #eee' ">
                    <div class="box-caption display-block w100p bcEllipsis text-center">
                        <span>Test</span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group m0" style="cursor: default">
                        <div class="text-center">test test</div>
                    </div>
                    <div class="row">
                        <div class="ScoreCard col-md-8" style="cursor:pointer">
                            <h1 [class]="'text-center txt-themeRed'">
                                3
                                <small class="txt-themeOrg"> / 10</small>
                            </h1>
                        </div>
                        <div class="col-md-4">
                            <span class="ScoreCard_Icon txt-themeRed fa fa-arrow-circle-down"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>