<div id="wrapper">
    <header class="main-header">
        <nav class="navbar">
            <span class="brand pull-right p5" style="line-height: 18px;">
                <div class="col-md-6">   Hi {{user.name}}
                    <a *ngIf="loggedIn" style="text-decoration: underline;" (click)="logout()">Logout</a></div>
                <div class="col-md-6"> <img [src]="user.photoUrl" class="customPhoto" /></div>
            </span>
        </nav>
    </header>
    <div [ngClass]="mainViewClass">
        <aside class="main-sidebar sidebar-light">
            <div class="sidebar" style="height: auto;">

            </div>
        </aside>
        <div>
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <footer class="page-footer">
        </footer>
    </div>
</div>