<div class="container" style="padding-top:60px;">
    <div class="row">
        <div class="col-md-6 mx-auto col-md-offset-3">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2 class="text-center">iRetail</h2>
                        <hr style="border-top: 1px solid #eee;">
                        <div class="row">
                            <div _ngcontent-rmh-c18="" class="col-6 text-center">
                                <button (click)="socialSignIn('google')" class="btn btn-lg">
                                    <img class="" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" style="height: 20px;"> Sign in with Google
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="overflow:auto;height: 400px;">
            <span [innerHTML]="errorMsg"></span>
        </div>
    </div>
</div>